@import url(styles.css);
@import url(font.css);
@import url(common.css);
@import url(color.css);
@import url(card.css);


/* admin */
.admin-panel {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.remove-user-btn {
    background-color: var(--btn-primary);
    text-decoration: none;
    text-align: center;
    color: var(--btn-primary-text);
    border: none;
    border-radius: 20px;
    padding: 20px 40px;
    cursor: pointer;
    margin-top: 20px;
    float: left;
}

.panel-removeUser {
    border: solid 1px #ddd;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.loyalty-cus-adminRem {
    grid-column: span 8;
    grid-row: span 3;
}

.LoyCus-Details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-grow: 1;
}

/*----------------Admin add new products section--------------------*/

/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f7fa;
} */

/* .main-content {
    width: 50%;
    margin: auto;
    background-color: #fff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
} */

h2 {
    text-align: left;
    color: #333;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.userInput {
    width: 50%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.imageUploadBox {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.imagePreviewBox {
    width: 100%;
    height: 200px;
    border: 1px dashed #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 10px;
}

.imageChooseInput {
    display: none;
}

.imageChooseBtn,
.imageRemoveBtn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.imageChooseBtn:hover,
.imageRemoveBtn:hover {
    background-color: #2980b9;
}

.success {
    color: #2ecc71;
    text-align: center;
}

.error {
    color: #e74c3c;
    text-align: center;
}

.unit-price-container {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 25px;
}

.unit-price {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.price-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.price-btn:hover {
    background-color: #2980b9;
}


.imageChooseBtn {
    background-color: #007bff;
}

.imageChooseBtn:hover {
    background-color: #0056b3;
}


.imageRemoveBtn {
    background-color: #dc3545;
}

.imageRemoveBtn:hover {
    background-color: #a71d2a;
}

/* Add a red background color and white text to the "Delete profile" button */
.btn-danger {
    background-color: red;
    color: white;
}

@media only screen and (max-width: 1024px) {
    .main-content {
        height: unset;
        min-height: calc(100vh - 20px);
    }

    .grid-box>.loyalty-cus-adminRem {
        order: 3;
        grid-column: span 6;
    }
}

