* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--navbar-background);
}

.row {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    gap: 12px;
}

.colomn {
    display: flex;
    flex-direction: column;
}

.fg1 {
    flex-grow: 1;
}

.spc-btwn {
    justify-content: space-between;
}

.mg-0 {
    margin: 0;
}

.app-logo {
    width: 80%;
    background-color: white;
    border-radius: 50%;
    margin: 15px 2px;
}