* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    /* background-color: var(--navbar-background); */
    background:url(../images/Assets/on.png);
    overscroll-behavior: none;
}

.row {
    display: flex;
    flex-direction: row !important;
    margin: 10px 0;
    gap: 5px;
}

.colomn {
    display: flex;
    flex-direction: column;
}

.gap-10{
    gap: 10px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}

@media only screen and (max-width: 1024px) {
    .row.col-max-1024 {
        flex-direction: column;
    }
}

.ovf-hdn{
    overflow: hidden;
}

.fg1 {
    flex-grow: 1;
    flex-basis: 0;
}

.spc-btwn {
    justify-content: space-between;
}

.mg-0 {
    margin: 0;
}

.mg-10 {
    margin: 10px 0;
}

.mg-auto {
    margin: auto;
}

.m-b-auto {
    margin-block: auto;
}

.m-i-auto {
    margin-inline: auto;
}

.m-i-100 {
    margin-inline: 100px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-bot-10px {
    margin-bottom: 10px;
}

.p-10{
    padding: 10px;
}

.p-20{
    padding: 20px;
}

.p-i-100{
    padding-inline: 100px;
}

.p-i-50{
    padding-inline: 50px;
}

.app-logo {
    width: 80%;
    background-color: white;
    border-radius: 50%;
    margin: 15px 2px;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.w-100px {
    width: 100px !important;
}

.w-1000px {
    width: 1000px !important;
}

.h-25{
    height: 25%;
}

.h-50{
    height: 50%
}

.h-75{
    height: 75%
}

.h-100{
    height: 100%;
}

.max-w-330{
    max-width: 330px;
}

.max-w-140{
    max-width: 140px;
}

.max-w-900{
    max-width: 900px;
}

.min-w-1200{
    min-width: 1200px;
}

a.card {
    text-decoration: none;
    color: var(--text-color);
}

.alitem-center {
    align-items: center;
}

.jus-center {
    justify-content: center;
}

.center-al {
    text-align: center;
}

.left-al {
    text-align: left;
}

.right-al {
    text-align: right;
}

[class^="filter-js"],
input[type='text'].search-bar {
    border: solid 1px var(--navbar-background);
    border-radius: 10px;
    line-height: 30px;
    padding: 1px 10px;
}

.center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap : 10px;
    margin: auto;
    padding: 30px;
    border: #1D1B20 solid 1px;
    border-radius: 20px;
    align-items: center;

    & div {
        grid-column: span 2;
        text-align: center;
    }
}

.grid {
    display: grid;
    grid-template-rows: min-content;
    gap: 0 10px;
    
    &.g-resp-200 {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    
    &.g-resp-300 {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.asp-rtio {
    aspect-ratio: 1;
}

.red-text{
    color: red;
}

.green-text{
    color: green;
}

.orange-text{
    color: orange;
}

.faded-text{
    color: var(--secondary-color);
}

.disabled-link {
    border-color: var(--btn-secondary);
    pointer-events: none;
    background-color: var(--btn-secondary);
}

.hidden {
    display: none !important;
}

.clickable {
    cursor: pointer;
}

*[title] {
    cursor: help;
}

/************ images ***********/
img.default{
    aspect-ratio: 1;
    object-fit: scale-down;
    height: 100px;
    border-radius: 2px;

    &.big{
        height: 200px;
    }

}



@media screen {
    .bill-content{
        display: none;
    }
}

@media print {
    body * {
        visibility: hidden;
    }
    
    #bill-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0 auto;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-family: Arial, sans-serif;
        background-color: #fdfdfd;
        text-align: center;
        visibility: visible;
    
        & * {
            visibility: visible;
        }

        & h1 {
            font-size: 30px;
            margin-bottom: 5px;
            color: #333;
        }

        & p {
            font-size: 24px;
            margin: 5px 0;
            color: #555;
        }

        & hr {
            margin: 15px 0;
            border: none;
            border-top: 1px dashed #ccc;
        }

        /* Table Styles */
        & table {
            width: 100%;
            border-collapse: collapse;
            margin: 10px 0;
        }

        & thead {
            background-color: #f7f7f7;
            font-size: 24px;
        }

        & thead th {
            padding: 8px;
            border: 1px solid #ccc;
            font-weight: bold;
            color: #333;
        }

        & tbody td {
            padding: 8px;
            border: 1px solid #ccc;
            font-size: 23px;
            color: #555;
            /* text-align: center; */
        }

        & tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        & tbody tr:last-child {
            font-weight: bold;
            background-color: #f7f7f7;
        }

        & tbody tr:last-child td {
            color: #333;
        }

        /* Thank You Message */
        & p:last-child {
            font-size: 26px;
            font-weight: bold;
            margin-top: 10px;
            color: #333;
        }
    }
}

.border-1 {
    border: 1px solid var(--border-color);
    border-radius: 5px;
}


#bill {
    counter-reset: billItem;
    
    & tr .row_Number::before {
        counter-increment: billItem;
        content: counter(billItem);
    }
}

svg#up,
svg#down{
    height: 2em;
}

svg#next_Mo,
svg#pre_Mo {
    height: 3em;
    cursor: pointer;
    fill: var(--btn-primary);

    &:hover {
        fill: var(--btn-hover);
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}