@import url(color.css);
@import url(font.css);
@import url(styles.css);
@import url(common.css);
@import url(card.css);
@import url(notification.css);

@import url(carousel.css);
/* customer */

.pre-orders-f{
    grid-column: span 4;
    grid-row: span 9;

    &>svg{
        display: none;
    }
}

.new-lc-req {
    grid-column: span 4;
    grid-row: span 9;

    &>svg{
        display: none;
    }
}

.bills-container {
    grid-column: span 8;
    grid-row: span 10;
}

.closed-grid {
    grid-row: span 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &>div{
        display: none;
    }

    &>h1,a{
        display: none;
    }

    &>svg{
        display: block;
    }
}