@import url(color.css);
@import url(font.css);
@import url(styles.css);
@import url(common.css);
@import url(card.css);

body {
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('http://localhost/TradeTrack/Public/images/Assets/login-background.jpg') center/cover no-repeat !important;
}

.regBackground {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    
}


.regFormBackground {
    height: 91vh;
    width: fit-content;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: #F5F5F5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Table Styling */
.registerTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.registerTable td {
    padding: 10px;
    vertical-align: top;
}

.registerTable td:first-child {
    width: 30%;
    font-weight: bold;
}

.registerTable td:last-child {
    width: 100%;
}

/* Inputs*/
.registerTable td input {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.imageUploadBox {
    border: none !important;
    box-shadow: none !important;
}

/* Error Styling */
.error {
    font-size: 12px;
    color: red;
    display: block;
    margin-top: 5px;
}


/* Custom Radio Buttons */
.customRadio {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.customRadio input[type="radio"] {
    display: none;
}

.customRadio span {
    padding: 6px 12px;
    background-color: #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.customRadio input[type="radio"]:checked + span {
    background-color: #007bff;
    color: white;
}

/* Terms and Conditions Label */
.termsLabel {
    display: inline;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #555;
    cursor: pointer;
    align-items: center;
}

.termsLabel a {
    color: #007bff;
    text-decoration: none;
}

.termsLabel a:hover {
    text-decoration: underline;
}
.termsLabel input[type="checkbox"] {
    margin-left: 0;  
    padding: 0;
}

.login-link {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin: 20px;
}

/* Error Styling */
.error {
    font-size: 12px;
    color: red;
    display: block;
    margin-top: 5px;
}