/****************** Side Bar **********************/

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 120px;
    /* background-color: var(--navbar-background); */
    background: transparent;
    padding: 10px auto;
}

.sidebar ul li {
    position: relative;
    list-style: none;
    width: 90%;
    margin: 0.8rem auto;
}

.sidebar ul li a {
    background-color: var(--btn-secondary);
    color: var(--btn-secondary-text);
    text-decoration: none;
    border-radius: 0.8rem;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
}

.sidebar ul li a.active {
    color: var(--btn-secondary-text);
    background-color: var(--background-color);
}

.sidebar ul li a.active svg {
    fill: var(--btn-secondary-text);
}

.sidebar ul li a:not(.active):hover {
    background-color: var(--btn-hover);
    color: var(--btn-hover-text);
}

.sidebar ul li a:not(.active):hover svg {
    fill: var(--btn-hover-text);
}


.sidebar ul li a span {
    text-align: center;
}

.sidebar ul li a svg {
    min-width: 50px;
    text-align: center;
    height: 30px;
    fill: var(--btn-secondary-text);
}

.sidebar ul li a.active::before {
    content: "";
    position: absolute;
    right: 14px;
    top: -10px;
    height: 10px;
    width: 10px;
    /* background-color: var(--navbar-background); */
    background: transparent;
    border-bottom-right-radius: 50%;
    box-shadow: 6px 6px 0px 5px var(--background-color);
}

.sidebar ul li a.active::after {
    content: "";
    position: absolute;
    right: 14px;
    bottom: -10px;
    height: 10px;
    width: 10px;
    /* background-color: var(--navbar-background); */
    background: transparent;
    border-top-right-radius: 50%;
    box-shadow: 6px -6px 0px 5px var(--background-color);
    z-index: -1;
}

.sidebar .logout{
    margin: auto 30px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--background-color);
    text-decoration: none;

    & img{
        display: block;
        width: 30px;
        margin-inline: auto;
    }
}

/****************** Main Container **********************/

.bar img{
    height: 24px;
}

.main-content {
    position: relative;
    height: calc(100vh - 20px);
    left: 90px;
    width: calc(100% - 110px);
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: var(--background-color);
    /* box-shadow: 5px 0 5px 5px var(--shadow-color); */
}

.grid-box {
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
    height: calc(100vh - 230px);
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bar {
    /* height: 20px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn {
    background-color: var(--btn-primary);
    text-decoration: none;
    text-align: center;
    color: var(--btn-primary-text);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
}

.btn-mini {
    padding: 2px 20px;
}

.panel {
    border: solid 1px #ddd;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    &.warning {
        border: solid 1px var(--warning-color);
        background: linear-gradient(30deg, #FF8C0099, #ff370099);
    }
}

@media only screen and (min-width: 1024px) {
    .panel {
        overflow: hidden;
    }    
}

.pre-orders {
    grid-column: span 4;
    grid-row: span 10;
}

.scroll-box {
    overflow: auto;
    scrollbar-width: none;
}

.profile-photo {
    height: 90px;
    width: 90px;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.cash-drawer {
    grid-column: span 8;
    grid-row: span 3;
}

.balance {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balance h1 {
    font-size: 4rem;
}

.low-stocck {
    grid-column: span 8;
    grid-row: span 7;
}

.product-img-container {
    height: 100px;
    width: 100px;
}

img.product-img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    border-radius: 10px;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.low-stocck .card {
    padding: 0;
}

.low-stocck .details {
    padding: 10px;
}

@media only screen and (max-width: 1024px) {

    .main-content {
        height: unset;
        min-height: calc(100vh - 20px);
    }

    .grid-box>.pre-orders {
        order: 2;
        grid-column: span 6;
        grid-row: span 7;
    }

    .grid-box>.cash-drawer {
        grid-column: span 12;
        order: 1;
    }

    .grid-box>.low-stocck {
        order: 3;
        grid-column: span 6;
    }
}

/********************** Billing view ***********************/


.bill {
    border-collapse: collapse !important;
    width: 100%;
    text-align: right;
}

.billScroll {
    flex-grow: 1;
    overflow: auto;
    scrollbar-width: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.BillHeadings {
    height: 35px;
    background: #49454F;
    color: #fff;
    overflow: hidden;
    position: sticky;
    top: 0;
    text-align: center;
}

@media only screen and (max-width: 720px) {
    .BillHeadings .w-50 {
        width: unset;
    }
}

.bill tbody>:nth-child(odd) {
    background: #e9e9e9;
}

.bill tbody tr>:nth-last-child(1){
    padding-right: 5px;
}

.Item {
    height: 35px;
}

.total {
    display: flex;
    justify-content: right;
}

.scan {
    justify-content: space-between;
    align-items: center;
}

.newItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

/*************************** billSettle *********************/

input.userInput {
    background-color: #e9e9e9;
    border-radius: 5px;
    border: none;
    padding: 10px;

    &.short {
        width: 5rem;
    }

    &[readonly]{
        background-color: #d9d9d9;
        outline: none;
    }

    &[type="number"] {
        -moz-appearance: textfield;
        -webkit-appearance: none;
        appearance: none;
    }
    
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
}

/* Pre-order previwe for shop owner */

.profile {
    text-align: left;
}

.profile td {
    height: 35px;
    padding-right: 35px;
}

.profile-img{
    height: 140px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;

    &.big{
        height: 200px;
    }
}

/****************** Admin **********************/

.admin-panel {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.add-user-btn, .remove-user-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.announcement {
    background-color: #ffffff; /* Card background color */
    border: 1px solid #e0e0e0; /* Light border for the card */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 16px; /* Inner spacing */
    width: 100%; /* Full width */
    height: 200px; /* Limit the height of the card */
    overflow: hidden;
    margin: 5px auto; /* Center the card with spacing */
}

.announcement h3 {
    margin-top: 0; /* Remove margin from top */
    margin-bottom: 8px; /* Space below the title */
    color: #333; /* Title text color */
    font-size: 1.25rem; /* Font size for the title */
}

.announcement p {
    margin: 0; /* Remove default margin */
    color: #555; /* Text color for the description */
    font-size: 1rem; /* Font size for the description */
    line-height: 1.5; /* Better readability */
}


/********************** popUp ***********************/
div#popUpBackDrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #00000073;
    z-index: 20;
}

div.popUpDiv{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    max-height: 90vh;
    overflow: auto;
    scrollbar-width: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    z-index: 21;

    & form{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 500px;

    }
    
    & table{
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 15px;
        font-family: Arial, sans-serif;

        & td p{
            color: #49454F;
            font-size: 12px;
        }

        & td input{
            width: 100%;
        }
    }
}